## DEPENDENCIES

In [1]:
import pandas as pd
import sqlite3

## CLEANING CODE

In [2]:
# Load the CSV files
population_df = pd.read_csv('Resources/Population.csv')
happinessindex_df = pd.read_csv('Resources/HappinessIndex.csv')
unemployment_rate_df = pd.read_csv('Resources/Unemployment_rate.csv')
gini_index_df = pd.read_csv('Resources/Gini Index coefficient - distribution of family income.csv')
median_age_df = pd.read_csv('Resources/Median age.csv')
avg_temp_df = pd.read_csv('Resources/avg_temperature.csv')
alc_df = pd.read_csv('Resources/alcohol consumption per capita.csv')

In [3]:
# Strip leading/trailing spaces from all column names
dataframes = [population_df, happinessindex_df, unemployment_rate_df, gini_index_df, median_age_df, avg_temp_df, alc_df]
for df in dataframes:
    df.columns = df.columns.str.strip()

In [4]:
# Rename columns
population_df.rename(columns={'name': 'country', 'density': 'population_density', 'region': 'region'}, inplace=True)
happinessindex_df.rename(columns={'Country name': 'country', 'Ladder score': 'ladder_score', 'Logged GDP per capita': 'logged_GPD_per_capita',
                                  'Social support': 'social_support', 'Healthy life expectancy': 'healthy_life_expectancy',
                                  'Freedom to make life choices': 'freedom_life_choices', 'Generosity': 'generosity',
                                  'Perceptions of corruption': 'perceptions_corruption', }, inplace=True)
unemployment_rate_df.rename(columns={'name': 'country', 'perc': 'unemployment_rate', 'region': 'region'}, inplace=True)
gini_index_df.rename(columns={'name': 'country', 'value': 'gini_coefficient', 'region': 'region'}, inplace=True)
median_age_df.rename(columns={'name': 'country', 'years': 'median_age', 'region': 'region'}, inplace=True)
avg_temp_df.rename(columns={'Country': 'country', 'Average Temperature': 'avg_temperature'}, inplace=True)
alc_df.rename(columns={'name': 'country', 'liters of pure alcohol': 'lt_alcohol_per_capita'}, inplace=True)

In [5]:
# Remove leading/trailing spaces from 'Country' column in all DataFrames
for df in dataframes:
    df['country'] = df['country'].str.strip()

In [6]:
# Convert 'Population' to int
population_df['population_density'] = population_df['population_density'].astype(float)

In [7]:
# Debugging: Check for NaN values in 'Country' columns
for df in dataframes:
    print(f"NaN values in 'country' column of {df.columns[0]}: {df['country'].isna().sum()}")

NaN values in 'country' column of country: 0
NaN values in 'country' column of country: 0
NaN values in 'country' column of country: 0
NaN values in 'country' column of country: 0
NaN values in 'country' column of country: 0
NaN values in 'country' column of country: 0
NaN values in 'country' column of country: 0

In [8]:
# Merge DataFrames and include 'Region' from gini_index_df, median_age_df, population_df, unemployment_rate_df, avg_temp_df and alc_df
merged_df = pd.merge(happinessindex_df, population_df[['country', 'population_density', 'region']], on='country', how='left')

merged_df = pd.merge(merged_df, unemployment_rate_df[['country', 'unemployment_rate', 'region']], on='country', how='left', suffixes=('', '_unemployment'))

merged_df = pd.merge(merged_df, gini_index_df[['country', 'gini_coefficient', 'region']], on='country', how='left', suffixes=('', '_gini'))

merged_df = pd.merge(merged_df, median_age_df[['country', 'median_age', 'region']], on='country', how='left', suffixes=('', '_median_age'))

merged_df = pd.merge(merged_df, avg_temp_df, on='country', how='left', suffixes=('', '_avg_temp'))

merged_df = pd.merge(merged_df, alc_df, on='country', how='left', suffixes=('', '_alc_df'))

In [9]:
# Drop any duplicate columns, prioritize non-null regions
merged_df['region'] = merged_df.apply(lambda row: row['region'] if pd.notnull(row['region']) else row['region_unemployment'] if pd.notnull(row['region_unemployment']) else row['region_gini'] if pd.notnull(row['region_gini']) else row['region_median_age'], axis=1)
merged_df = merged_df.drop(columns=['region_unemployment', 'region_gini', 'region_median_age'])

In [10]:
# Check Columns
print("\nColumns in merged DataFrame:")
print(merged_df.columns)

Columns in merged DataFrame:
Index(['country', 'ladder_score', 'Standard error of ladder score',
       'upperwhisker', 'lowerwhisker', 'logged_GPD_per_capita',
       'social_support', 'healthy_life_expectancy', 'freedom_life_choices',
       'generosity', 'perceptions_corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual', 'population_density', 'region',
       'unemployment_rate', 'gini_coefficient', 'median_age',
       'avg_temperature', 'slug', 'lt_alcohol_per_capita',
       'date_of_information', 'ranking', 'region_alc_df'],
      dtype='object')

In [11]:
# Check what to keep
columns_to_keep = [
    'country', 
    'region',
    'ladder_score',
    'logged_GPD_per_capita', 
    'social_support', 
    'healthy_life_expectancy',
    'freedom_life_choices',
    'generosity',
    'perceptions_corruption',
    'population_density',
    'unemployment_rate',
    'median_age',
    'gini_coefficient',
    'avg_temperature',
    'lt_alcohol_per_capita'
]

missing_cols = [col for col in columns_to_keep if col not in merged_df.columns]
if missing_cols:
    print(f"Warning: Column(s) {missing_cols} are missing from the DataFrame.")

# final check before making csv
existing_columns_to_keep = [col for col in columns_to_keep if col in merged_df.columns]

cleaned_df = merged_df[existing_columns_to_keep]

# Remove rows with 'n/a' in any cell
cleaned_df = cleaned_df.replace('n/a', pd.NA).dropna()

In [12]:
# Check df
cleaned_df

,country,region,ladder_score,logged_GPD_per_capita,social_support,healthy_life_expectancy,freedom_life_choices,generosity,perceptions_corruption,population_density,unemployment_rate,median_age,gini_coefficient,avg_temperature,lt_alcohol_per_capita
0,Finland,Europe,7.804,10.792,0.969,71.150,0.961,-0.019,0.182,16.60,7.16,43.2,27.7,3.24,8.23
1,Denmark,Europe,7.586,10.962,0.954,71.250,0.934,0.134,0.196,138.00,5.14,42.2,27.7,9.77,9.16
2,Iceland,Europe,7.530,10.896,0.983,72.050,0.936,0.211,0.668,3.50,3.56,37.8,26.1,2.11,7.72
3,Israel,Middle East,7.473,10.639,0.943,72.697,0.809,-0.023,0.708,412.24,3.39,30.1,38.6,20.23,3.07
4,Netherlands,Europe,7.403,10.942,0.930,71.550,0.887,0.213,0.379,420.38,3.56,42.2,29.2,11.72,8.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Botswana,Africa,3.435,9.629,0.753,54.725,0.742,-0.215,0.830,4.16,23.38,26.8,53.3,22.00,5.98
133,Zimbabwe,Africa,3.204,7.641,0.690,54.050,0.654,-0.046,0.766,39.46,8.76,21.0,50.3,21.83,3.11
134,Sierra Leone,Africa,3.138,7.394,0.555,54.900,0.660,0.105,0.858,124.17,3.17,19.2,35.7,26.64,3.22
135,Lebanon,Middle East,2.392,9.478,0.530,66.149,0.474,-0.141,0.891,512.62,11.57,35.8,31.8,15.66,1.14
136,Afghanistan,South Asia,1.859,7.324,0.341,54.712,0.382,-0.081,0.847,60.15,14.39,19.9,29.4,14.48,0.01

In [13]:
# Check dtypes
cleaned_df.dtypes

country                     object
region                      object
ladder_score               float64
logged_GPD_per_capita      float64
social_support             float64
healthy_life_expectancy    float64
freedom_life_choices       float64
generosity                 float64
perceptions_corruption     float64
population_density         float64
unemployment_rate          float64
median_age                 float64
gini_coefficient           float64
avg_temperature            float64
lt_alcohol_per_capita      float64
dtype: object

In [14]:
# Create final csv file
cleaned_df.to_csv('Resources/final_output.csv', index=False)

In [15]:
# Create SQLite file
conn = sqlite3.connect('Resources/HappinessIndexScore.sqlite')
cleaned_df.to_sql('final_output', conn, if_exists='replace', index=False)
conn.close()